<div class="p-4 text-2xl flex flex-col gap-4">
    <div>
        <span class="text-orange-500">Ime i prezime:</span> {{user.name}}
    </div>
    <div>
        <span class="text-orange-500">E-mail adresa:</span> {{user.email}}
    </div>
    <div>
        <span class="text-orange-500">Zaporka:</span> ***********
    </div>
</div>